
/* Sidebar CSS */
.active-list {
    background-color: #EDF4FD ;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #e79696;
}

.sidebar-item:hover {
  background-color: bisque;
}

#sidebar-logout{
    display: none;

}

@media only screen and (max-width: 768px) {
    #sidebar-logout {
      display: block;
    }
}